@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:100,400,700);

html,
body,
.container-fluid,
.scroll-snap,
.img-holder {
  height: 100%;
}

.scroll-snap {
  position: relative;
}

/* Remove download button */
video::-webkit-media-controls-fullscreen-button {
   margin-right: -32px;
   z-index: 10;
   position: relative;
   background: #fafafa;
   background-image: url(../images/fullscreen.png);
   background-size: 50%;
   background-position: 50% 50%;
   background-repeat: no-repeat;
}

body {
  background-color: #0C1217;
  color: white;
  font-family: 'Anonymous Pro', monospace;
  margin-top: 50px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#nav-container {
  padding-left: 2em;
  padding-right: 3em;
}

.nav, .navbar {
  background-color: #0C1217;
  border: none;
}

.navbar-inverse .navbar-header a,
.navbar-inverse .navbar-nav li a {
  color: white;
  font-size: 14px;
}

.highlight {
  background-color: #20262B;
  box-shadow: 5px 0 0 #20262B, -5px 0 0 #20262B;
  padding: 5px;
}

.more {
  margin-top: 20px;
}

.more-padding {
  padding: 12px;
}

.reel {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  max-width: 1500px;
  transform: translate(-50%, -50%);
}

.reel video {
 
}

.img-holder > a,
#end {
  display: block;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.blackout {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
}

.img-holder {
  position: relative;
}

.row {
  margin-bottom: 6em;
  margin-left: 3%;
  margin-right: 3%;
  background-color: #0C1217;
}

/* full width images that fill entire screen */
.full-width {
  margin-left: 0;
  margin-right: 0;
}

.no-extra {
  margin: 0;
  padding: 0;
}

#navbar-logo {
  padding-top: 0;
}

.project {
  position: absolute;
  z-index: 10;
}

.landing-project {
  position: absolute;
  z-index: 10;
}

.project p,
.project h1 {
  text-shadow: 1px 1px black;
}

/* left padding for right-side columns in case studies */
@media (min-width: 992px) {
  .extra-padding {
    padding-left: 4%;
  }
}

.centre {
  text-align: center;
}

.hero-caption {
  margin-top: 30px;
}

.canvas-parent {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* about page */
input,
textarea {
  background-color: #20262B;
  border: 0;
  padding: 8px;
  width: 100%;
  resize: none;
}

input[type="button"] {
  padding: 10px 20px;
  max-width: 120px;
}

#thanks {
  display: none;
  margin-top: 30px;
}

/* navbar links */
.white-link, .white-link:hover, .white-link:link {
  color: white;
}

#project:before {
  content: ' ';
  position: absolute;
  top: 18px;
  width: 61px;
  height: 2px;
  background-color: #DCB128;
  opacity: 1
}

#experiments-footer {
  margin-top: 2em;
  margin-bottom: 2em;
}
  
@media screen and (max-width: 991px) {
  /* columns that have collapsed after resizing */
  .collapsed-col-sm {
    padding-top: 2em;
  }
}

/* Experiments image grid */
#experiments-holder {
  width: 95%;
  margin: auto;
}

#experiments-holder img {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}

#popup {
  position: absolute;
  background-color: #0C1217;
  display: none;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

#popup-holder {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 2.5%;
  right: 2.5%;
  bottom: 4em;
  top: 2.5%;
  overflow: hidden;
}

#popup p {
  position: absolute;
  left: 2.8%;
  bottom: 0.5em;
}

#popup img {
  position: absolute;
  top: 2.5em;
  right: calc(2.5% + 1em);
  transition: all 0.1s ease-in-out
}

#popup img:hover {
  transform: scale(1.2);
}

.legal h1 {
  font-size: 14px;
  color: #ffc600;
}