@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

@media all {
    html {
        font-size: 15px;
        line-height: 1.2;
        text-align: left;
        color: #ffefff;
        font-family: 'Anonymous Pro', monospace;
        font-weight: 400;
        font-style: normal;
        text-rendering: optimizeLegibility;
        -moz-font-feature-settings: 'liga=1';
        -moz-font-feature-settings: 'liga' 1;
        -webkit-font-feature-settings: 'liga' 1;
        -o-font-feature-settings: 'liga' 1;
        -ms-font-feature-settings: 'liga' 1;
        font-feature-settings: 'liga' 1
    }
}

* {
    margin: 0;
    padding: 0
}

body {
    background-color: #193549;
    overflow: hidden;
    height: 100%;
    width: 100%
}

a {
    color: #ffefff;
    text-decoration: none
}

a:hover {
    color: #08f;
}

.projets {
    display: block;
    position: absolute;
    left: 2.4em;
    top: 2.4em;
    width: 60%
}

.projets h1 {
    font-size: 1.2em;
    color: #ffc600;
    margin-bottom: 2em;
}

.projets h2 {
    font-size: 2.2em;
    font-family: 'Times New Roman', serif;
}

.projets a {
	border-bottom: 1px solid #ffefff;
}

.projets a:hover {
	border-bottom: none;
}

.about {
    display: block;
    position: absolute;
    bottom: 20%;
    left: 2.4em
}

.about p {
    font-size: 1em;
    margin-bottom: 1em
}