extends layout
block links
  li: a(href='projects.html') Projects
  //li: a(href='experiments.html') Experiments
  li: a.active(href='about.html') About
block content
  .outer
    .middle
      .row#about-row
        .col-sm-4
          h1#about-heading Unsigned
          h1#about-caption We'd love to work on your project. Please get in touch with us.
          form()
            p.about-input: input(type="text" placeholder="Name" name="name" id="name")
            p.about-input: input(type="text" placeholder="Email" name="email" id="email")
            p.about-input: textarea(rows="8" cols="40" placeholder="Message" name="message" id="message")
            p.about-input: input#submit(type="button" value="Submit")
          p#thanks Thank you for contacting us. We'll get back to you shortly.
        .col-sm-7.col-sm-offset-1#map-holder
          #map
          #address
            | Unsigned Studio Pty Ltd
            br
            | 850 Collins St
            br
            | Docklands VIC 3008
            br
            | (03) 8560 1604
  #footer
    include footer
block scripts
  script(src="js/about.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUZmjKFfrfkzq5RhKbtf15buyZqCI-U-Q&callback=myMap")