extends layout
block links
  li: a(href='casestudy.html') Projects
  li: a(href='experiments.html') Experiments
  li: a.active(href='about.html') About
block content
  .row
    .col-xs-12
      h1#heading
        | We are a technology-first creative studio.
        br
        | We design and build solutions for the physical world, for use on devices and for the web
      address#address
        | Unsigned Studio Pty Ltd
        br
        | 11 46-50 Regent St
        br
        | Richmond VIC 3121
      p
        | (03) 8560 1604
      p
        a.white-link(href='mailto:info@unsignedstudio.io') info@unsignedstudio.io
      p
        a.white-link(href='legal.html') Legal
  .row
    .col-xs-12#footer
      include footer