extends layout
block links
  li: a.active(href='projects.html') Projects
  li: a(href='experiments.html') Experiments
  li: a(href='about.html') About
block content
  .row
    .col-sm-8
      img(src='images/blockchain/hero.png', width='100%', alt='Project Image')
    .col-sm-4.extra-padding.collapsed-col
      p Project Name
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id accumsan nunc, et suscipit lorem. Morbi sagittis dictum lectus, non lobortis massa cursus at. Quisque lacus nulla, posuere sit amet elementum nec, mollis at ex. Nunc eu diam massa.
      hr
      p Client: ++++
      p Direction: Dave Mackenzie
      p Production: \\\\\\
      p Design: >>>>>>
      p Sound: {{{{{{
  .row.relative
    .col-sm-8
      img(src='images/blockchain/hero2.png', width='100%', alt='Project Image')
    .col-sm-4.bottom-align-text.extra-padding
      h2 Focus
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id accumsan nunc, et suscipit lorem. Morbi sagittis dictum lectus, non lobortis massa cursus at. Quisque lacus nulla, posuere sit amet elementum nec, mollis at ex. Nunc eu diam massa.
  .row.full-width.parallax-row
    .parallax
      img.parallax-img(src='images/blockchain/parallax.png', alt='Project Image')
  .row#alt-parallax
    .col-xs-12
      img(src='images/blockchain/parallax.png', width="100%" alt='Project Image')
  .row
    .col-sm-8
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id accumsan nunc, et suscipit lorem. Morbi sagittis dictum lectus, non lobortis massa cursus at. Quisque lacus nulla, posuere sit amet elementum nec, mollis at ex. Nunc eu diam massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id accumsan nunc, et suscipit lorem. Morbi sagittis dictum lectus, non lobortis massa cursus at. Quisque lacus nulla, posuere sit amet elementum nec, mollis at ex. Nunc eu diam massa.
  .row
    .col-sm-3.col-xs-6.collapsed-col
      img(src='images/blockchain/small1.png', alt='Project Image', width='100%')
    .col-sm-3.col-xs-6.collapsed-col
      img(src='images/blockchain/small2.png', alt='Project Image', width='100%')
    .col-sm-3.col-xs-6.collapsed-col
      img(src='images/blockchain/small3.png', alt='Project Image', width='100%')
    .col-sm-3.col-xs-6.collapsed-col
      img(src='images/blockchain/small4.png', alt='Project Image', width='100%')
  .row
    .col-sm-4.collapsed-col
      img(src='images/blockchain/med1.png', alt='Project Image', width='100%')
    .col-sm-4.collapsed-col
      img(src='images/blockchain/med2.png', alt='Project Image', width='100%')
    .col-sm-4.collapsed-col
      img(src='images/blockchain/med3.png', alt='Project Image', width='100%')
  .row
    .col-sm-2.col-xs-4.centre.collapsed-col
      a.white-link(href='#') Project A
    .col-sm-2.col-xs-4.centre.collapsed-col
      a.white-link(href='#') Project B
    .col-sm-2.col-xs-4.centre.collapsed-col
      a.white-link(href='#') Project C
    .col-sm-2.col-xs-4.centre.collapsed-col
      a.white-link(href='#') Project D
    .col-sm-2.col-xs-4.centre.collapsed-col
      a.white-link(href='#') Project E
    .col-sm-2.col-xs-4.centre.collapsed-col
      a.white-link(href='#') Project F
  .row
    .col-xs-12
      include footer