extends layout
block links
  li: a(href='projects.html') Projects
  li: a.active(href='experiments.html') Experiments
  li: a(href='about.html') About
block content
  .row.full-width
    iframe(src= 'exp1.html')
    iframe(src= 'exp2.html')
    iframe(src= 'exp3.html')
  .row
    .col-xs-12
      include footer