extends layout
block links
  li
    a(href='casestudy.html') Projects
  li
    a.active(href='experiments.html') Experiments
  li
    a(href='about.html') About
block content
  .row
    .col-xs-12
      img(src='images/MT_World.jpg', width='100%', alt='MT World')
  .row
    .col-md-3.col-sm-6
      h1 EXPERIMENT 001
      p EXPERIMENT NAME
        br
        | 2017
      p David Mackenzie
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .col-md-3.col-sm-6.collapsed-col
      img(src='images/MT_World.jpg', width='100%')
    .col-md-3.col-sm-6.collapsed-col
      img(src='images/MT_World.jpg', width='100%')
    .col-md-3.col-sm-6.collapsed-col
      img(src='images/MT_World.jpg', width='100%')
  .row
    .col-xs-12
      include footer