extends layout
block links
  li: a(href= 'projects.html') Projects
  li: a.active(href= 'experiments.html') Experiments
  li: a(href= 'about.html') About
block content
  #experiments-holder
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
    img.grid(src= 'images/marine/MT_Amer.jpg')
  .row#experiments-footer
    .col-xs-12
      include footer
block scripts
  script(src= 'js/p5.min.js')
  script(src= 'js/p5.dom.min.js')
  script(src= 'js/experiments.js')