extends layout
block links
  li: a(href= 'projects.html') Projects
  li: a.active(href= 'experiments.html') Experiments
  li: a(href= 'about.html') About
block content
  #experiments-holder
    each experiment in glob.sync('assets/content/experiments/*')
      if (glob.sync(experiment + '/thumbnail.+(png|jpg)').length > 0 && glob.sync(experiment + '/experiment.+(png|jpg|js|mp4)').length > 0)
        - var expName = experiment.match('[^\/]+$')[0];
        - var thumbName = glob.sync(experiment + '/thumbnail.+(png|jpg)')[0].match('[^\/]+$')[0]
        - var expFile = glob.sync(experiment + '/experiment.+(png|jpg|js|mp4)')[0].match('[^\/]+$')[0]
        img.grid(src= 'content/experiments/' + expName + '/' + thumbName, data-path= 'content/experiments/' + expName + '/' + expFile)
  .row#experiments-footer
    .col-xs-12
      include footer
  #popup
    #popup-holder
    p#caption
    img(src ='images/cross.png', width='30px')
block scripts
  script(src= 'js/p5.min.js')
  script(src= 'js/p5.dom.min.js')
  script(src= 'js/experiments.js')