extends layout
block links
  li: a(href='projects.html') Projects
  li: a.active(href='experiments.html') Experiments
  li: a(href='about.html') About
block content
  .row.full-width
    .scroll-snap
      iframe(src= 'exp1.html')
    .scroll-snap
      iframe(src= 'exp2.html')
    .scroll-snap
      iframe(src= 'exp3.html')
  .row
    .col-xs-12
      include footer
block scripts
  script(src= 'js/jquery.scrollify.js')
  script(src= 'js/scrollify.js')