p.centre
  a(href='#')
    img(src='images/vimeo.png', width='20')
  span  
  a(href='#')
    img(src='images/instagram.png', width='20')
  span  
  a(href='#')
    img(src='images/facebook.png', width='20')
  span  
  a(href='#')
    img(src='images/twitter.png', width='20')
  span  
p.centre All works © Unsigned Studio 2017