extends head
block body
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a#navbar-logo.navbar-brand(href='index.html')
          img(src='images/logo_white.png', alt='Unsigned Studio Logo', width='50')
        a.navbar-brand(href='index.html') Unsigned Studio
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='casestudy.html') Projects
          li
            a(href='experiments.html') Experiments
          li
            a(href='about.html') About
      // /.navbar-collapse
    // /.container-fluid
  .container-fluid
    .row
      canvas
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='js/jquery.min.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='js/bootstrap.min.js')