extends layout
block links
  li: a(href='projects.html') Projects
  li: a(href='about.html') About
block content
  - function insertProject(project) {
    if (fs.existsSync('assets/content/' + project.url + '/text.json'))
      - var json = JSON.parse(fs.readFileSync('assets/content/' + project.url + '/text.json'));
      .scroll-snap(data-section-name= project.url)
        .img-holder
          .landing-project
            h1: a.landing-bold.highlight.white-link(href= project.url + '.html')= project.name
            p: span.highlight!= json.year
          if (glob.sync(['assets/content/' + project.url + '/hero.+(png|jpg)']).length > 0)
            - var fullname = glob.sync(['assets/content/' + project.url + '/hero.+(png|jpg)'])[0].match('[^\/]+$')[0];
            a(href= project.url + '.html', style= 'background-image: url("content/' + project.url + '/' + fullname + '")')
  - }
  .scroll-snap(data-section-name= "start")
    .leftcol
      .backimg(style= 'background-image: url(images/logo_white.png)')
    .rightcol
      .newbox
        p(class= "landing-bold") Unsigned is a technology-first creative studio.
        hr
        p(class= "landing") We design and build solutions for the physical world, for use on devices and for the web.
  .scroll-snap(data-section-name= "reel")
    .reel
      video(controls="" width="100%" poster="images/reel_thumbnail.jpg")
        source(src="https://video.unsignedstudio.io/05-17-Unsigned_Reel_60s_Web.mp4")
  .scroll-snap(data-section-name= "landing")
    .leftcol
      .backimg(style= 'background-image: url(images/website_diagrams-01.png)')
    .rightcol
      .newbox
        p(class= "landing-bold") We are creative technologists.
        hr
        p(class= "landing") We combine art, design and code to create #[span(class="highlight") human experiences] that communicate, inform and engage.
  - insertProject(records.key_projects[0])
  .scroll-snap(data-section-name= "collaboration")
    .leftcol
      .backimg(style= 'background-image: url(images/website_diagrams-03.png)')
    .rightcol
      .newbox
        p(class= "landing-bold") We execute and enhance #[span(class="highlight") your] ideas.
        hr
        p(class= "landing") We #[span(class="highlight") collaborate] with brand builders, marketers and companies to build new products, apps and services.
  - insertProject(records.key_projects[1])
  .scroll-snap(data-section-name= "devices")
    .leftcol
      .backimg(style= 'background-image: url(images/website_diagrams-02.png)')
    .rightcol
      .newbox
        p(class= "landing-bold") Our solutions are realised as apps, installations and experiences
        hr
        p(class= "landing") Delivered to mobile and tablet (iOS, Android), #[span(class="highlight") custom built] installations and in the browser.
  - insertProject(records.key_projects[2])
  .scroll-snap(data-section-name= "experimentation")
    .leftcol
      .backimg(style= 'background-image: url(images/website_diagrams-04.png)')
    .rightcol
      .newbox
        p(class= "landing-bold") Internal experimentation drives our work.
        hr
        p(class= "landing") Our approach keeps us in front of the curve, constantly evaluating #[span(class="highlight") emerging trends] and research.
  .scroll-snap(data-section-name= "contact")
    .img-holder#end(style= 'background-image: url(images/landing_end.jpg)')
      .blackout
      .endbox
        p: a.white-link.highlight.more-padding(href="projects.html") MORE PROJECTS
    .ending-footer
      .col-sm-4.stacked-col
        address
          | Unsigned Studio Pty Ltd
          br
          | 56 Regent St
          br
          | Richmond VIC 3121
      .col-sm-4.col-sm-push-4.stacked-col
        p.right
          | (03) 8560 1604
          br
          a.white-link(href='mailto:info@unsignedstudio.io') info@unsignedstudio.io
      .col-sm-4.col-sm-pull-4
        include footer
block scripts
  script(src= 'js/jquery.scrollify.min.js')
  script(src= 'js/scrollify.js')
  script(src= 'js/iframefix.js')