extends layout
block links
  li: a(href= 'projects.html') Projects
  //li: a(href= 'experiments.html') Experiments
  li: a.active(href= 'about.html') About
block content
  .row
    .col-xs-12.legal
      h1 Unsigned Studio
      p This following document sets forth the Privacy Policy for the Unsigned Studio Pty. Ltd. website, unsignedstudio.io. Unsigned Studio Pty. Ltd. is committed to providing you with the best possible customer service experience. Unsigned Studio Pty. Ltd. is bound by the Privacy Act 1988 (Cth), which sets out a number of principles concerning the privacy of individuals.
      h1 Collection of your personal information
      
      p There are many aspects of the site which can be viewed without providing personal information, however, for access to future Unsigned Studio Pty. Ltd. customer support features you are required to submit personally identifiable information. This may include but not limited to a unique username and password, or provide sensitive information in the recovery of your lost password.
      h1 Sharing of your personal information
      p We may occasionally hire other companies to provide services on our behalf, including but not limited to handling customer support enquiries, processing transactions or customer freight shipping. Those companies will be permitted to obtain only the personal information they need to deliver the service. Unsigned Studio Pty. Ltd. takes reasonable steps to ensure that these organisations are bound by confidentiality and privacy obligations in relation to the protection of your personal information.
      
      h1 Use of your personal information
      p For each visitor to reach the site, we expressively collect the following non-personally identifiable information, including but not limited to browser type, version and language, operating system, pages viewed while browsing the Site, page access times and referring website address. This collected information is used solely internally for the purpose of gauging visitor traffic, trends and delivering personalized content to you while you are at this Site. From time to time, we may use customer information for new, unanticipated uses not previously disclosed in our privacy notice. If our information practices change at some time in the future we will use for these new purposes only, data collected from the time of the policy change forward will adhere to our updated practices.
      
      h1 Changes to this Privacy Policy
      p Unsigned Studio Pty. Ltd. reserves the right to make amendments to this Privacy Policy at any time. If you have objections to the Privacy Policy, you should not access or use the Site.
      
      h1 Accessing Your Personal Information
      p You have a right to access your personal information, subject to exceptions allowed by law. If you would like to do so, please let us know. You may be required to put your request in writing for security reasons. Unsigned Studio Pty. Ltd. reserves the right to charge a fee for searching for, and providing access to, your information on a per request basis.
      
      h1 Contacting us
      p Unsigned Studio Pty. Ltd. welcomes your comments regarding this Privacy Policy. If you have any questions about this Privacy Policy and would like further information please contect us during business hours.
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-87814453-1', 'auto');
    ga('send', 'pageview');
