extends layout
block links
  li: a.active(href='projects.html') Projects
  li: a(href='experiments.html') Experiments
  li: a(href='about.html') About
block content
  .img-holder
    h1: a.white-link(href='marine.html') Marine Traffic
    p 2017 <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    a(href='marine.html'): img(src= 'images/marine/MT_World.jpg', alt='MT World', width='100%')
  .img-holder
    h1: a.white-link(href='blockchain.html') Blockchain
    p 2017 <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    a(href='blockchain.html'): img(src= 'images/blockchain/hero.png', alt='Blockchain Image', width='100%')
  .img-holder
    h1: a.white-link(href='marine2.html') Marine Traffic 2
    p 2017 <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    a(href='marine2.html'): img(src= 'images/MT_World.jpg', alt='MT World', width='100%')
    