extends layout
block links
  li: a.active(href='projects.html') Projects
  li: a(href='experiments.html') Experiments
  li: a(href='about.html') About
block content
  .scroll-snap(data-section-name= 'Marine')
    .img-holder
      h1: a.white-link(href='marine.html') Marine Traffic
      p 2017 <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      a(href='marine.html'): img(src= 'images/marine/MT_World.jpg', alt='MT World', width='100%')
  .scroll-snap(data-section-name= 'Blockchain')
    .img-holder
      h1: a.white-link(href='blockchain.html') Blockchain
      p 2017 <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      a(href='blockchain.html'): img(src= 'images/blockchain/hero.png', alt='Blockchain Image', width='100%')
  .scroll-snap(data-section-name= 'Data-Viz')
    .img-holder
      h1: a.white-link(href='marine2.html') Squint/Opera Data Visualisation
      p 2017 <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      a(href='marine2.html'): img(src= 'images/dataViz.png', alt='MT World', width='100%')
block scripts
  script(src= 'js/jquery.scrollify.min.js')
  script(src= 'js/scrollify.js')