extends layout
block links
  li: a.active(href='projects.html') Projects
  li: a(href='experiments.html') Experiments
  li: a(href='about.html') About
block content
  each project in records.projects
    if (fs.existsSync('assets/content/' + S(project).slugify().s + '/text.json'))
      - var json = JSON.parse(fs.readFileSync('assets/content/' + S(project).slugify().s + '/text.json'));
      .scroll-snap(data-section-name= project)
        .img-holder
          .project
            h1: a.white-link(href= S(project).slugify().s + '.html')= project
            p!= json.year + '<br />' + json.caption
          a(href= S(project).slugify().s + '.html'): img(src= 'content/' + S(project).slugify().s + '/hero.png', alt= project, width='100%')
block scripts
  script(src= 'js/jquery.scrollify.min.js')
  script(src= 'js/scrollify.js')