extends layout
block links
  li: a.active(href='projects.html') Projects
  li: a(href='experiments.html') Experiments
  li: a(href='about.html') About
block content
  .img-holder
    h1: a(href="casestudy.html") Project A
    p 2017 <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    img(src= "images/MT_World.jpg", alt="MT World")
  .img-holder
    h1 Project B
    p 2017 <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    img(src= "images/MT_World.jpg", alt="MT World")
  .img-holder
    h1 Project C
    p 2017 <br /> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    img(src= "images/MT_World.jpg", alt="MT World")
    