/* small-medium-large */
@media screen and (min-width: 768px) {
  /* navbar yellow underline */
  .navbar-inverse .navbar-nav>li>a:hover:before,
  .navbar-inverse .navbar-nav>li>a.active:before
  {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 11px;
    right: 13px;
    margin-top: 9px;
    height: 2px;
    background-color: #DCB128;
    opacity: 1
  }

  .navbar-brand {
    padding: 10px 15px;
  }
  
  .full-height {
    height: 100%;
  }
  
  .scroll-snap {
    min-height: 500px;
  }
  
  .leftcol,
  .rightcol {
    width: calc(50% - 30px);
    height: 100%;
    float: left;
    position: relative;
    margin: 0 15px;
  }
  
  .leftcol {
    left: 50%;
  }
  
  .rightcol {
    left: -50%;
  }
  
  .backimg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .newbox {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 480px;
    transform: translate(-50%, -50%);
  }
  
  .box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 480px;
    transform: translate(-50%, -50%);
  }
  
  .landing-bold,
  .landing-bold span{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.12em;
  }
  
  .landing,
  .landing span {
    font-size: 24px;
    font-weight: 400;
  }
    
  .endbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .ending-footer {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
  }
  
  .ending-footer address,
  .ending-footer .footer-box{
    float: left;
    margin-bottom: 0;
  }
  
  .right {
    text-align: right;
  }

  p, span {
    font-size: 14px;
  }
  
  .project {
    left: 5em;
    bottom: 7em;
  }
  
  .landing-project {
    left: calc(25% - 225px);
    bottom: 7em;
  }
  
  #focus {
    margin: auto;
    margin-bottom: 45px;
    text-align: center;
  }
  
  #focus-text {
    width: 80%;
    text-align: center;
    margin: auto;
  }
  
  #focus span {
    font-size: 26px;
  }
  
  /* about page */
  .outer {
    display: table;
    width: 100%;
    height: calc(100% - 120px);
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
    
  #about-heading {
    margin-top: 30px;
    font-size: 36px;
  }
  
  #about-caption {
    margin-top: 40px;
    font-size: 14px;
  }
  
  #map {
    height: 590px;
  }
  
  #address {
    position: absolute;
    bottom: 30px;
    left: 45px;
    background-color: #0C1217;
    padding: 15px;
  }
  
  .about-input {
    margin-top: 40px;
  }
  
  .parallax {
    position: relative;
    overflow: hidden;
    height: 500px;
  }
  
  .tag {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .grow-holder {
    overflow: hidden;
  }
  
  .med {
    margin-bottom: 1em;
  }
  
  .grow {
    transition: all .4s ease-in-out;
  }
  .grow:hover {
    transform: scale(1.1);
  }
  
  .parallax img {
    position: absolute;
    width: 150%;
    margin-left: -25%
  }
  
  #alt-parallax {
    visibility: hidden;
    display: none;
  }
  
  .project-block {
    width: 150px;
    margin: auto;
  }
  
  #left-arrow {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #right-arrow {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* columns that have collapsed after resizing (links) */
  .link:nth-child(n + 7) {
    padding-top: 2em;
  }
}