/* small-medium-large */
@media screen and (min-width: 768px) {
  /* navbar yellow underline */
  .navbar-inverse .navbar-nav>li>a:hover:before,
  .navbar-inverse .navbar-nav>li>a.active:before
  {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 11px;
    right: 13px;
    margin-top: 9px;
    height: 2px;
    background-color: #DCB128;
    opacity: 1
  }
  
  .full-height {
    height: 100%;
  }
  
  .box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 480px;
    transform: translate(-50%, -50%);
  }
  
  .box2 {
    max-width: 460px;
  }
  
  .box hr {
    border-top: 2px solid #eee;
  }
  
  .box p:nth-child(3) {
    width: 400px;
  }
  
  .box3 p:nth-child(3) {
    width: 440px;
  }
  
  .landing-bold {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.12em;
  }
  
  .landing {
    font-size: 24px;
    font-weight: 400;
  }
  
  .highlight {
    font-size: 24px;
    background-color: #20262B;
  }
  
  .narrow img {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 50%;
    max-width: 650px;
    transform: translate(0, -50%);
  }
  
  .narrow {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  p, span {
    font-size: 14px;
  }
  
  .project {
    left: 5em;
  }
  
  #focus {
    margin: 0;
    text-align: right;
  }
  
  /* about page */
  #address {
    margin-top: 9em;
  }
  
  #heading {
    margin-top: 14em;
    font-size: 20px;
  }
  
  .parallax {
    position: relative;
    overflow: hidden;
    height: 500px;
  }
  
  .grow-holder {
    overflow: hidden;
  }
  
  .med {
    margin-bottom: 1em;
  }
  
  .grow {
    transition: all .4s ease-in-out;
  }
  .grow:hover {
    transform: scale(1.1);
  }
  
  .parallax img {
    position: absolute;
    width: 150%;
    margin-left: -25%
  }
  
  #alt-parallax {
    visibility: hidden;
    display: none;
  }
  
  #left-arrow {
    position: absolute;
    left: -20px;
    top: -5px;
  }
  
  #right-arrow {
    position: absolute;
    right: -20px;
    top: -5px;
  }
  
  /* columns that have collapsed after resizing (links) */
  .link:nth-child(n + 7) {
    padding-top: 2em;
  }
}