@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

body {
  background-color: #0C1217;
  color: white;
  font-family: 'Anonymous Pro', monospace;
  padding-top: 60px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#nav-container {
  padding-left: 2em;
  padding-right: 3em;
}

.nav, .navbar {
  background-color: #0C1217;
  border: none;
}

.navbar-inverse .navbar-header a,
.navbar-inverse .navbar-nav li a {
  color: white;
}

.row {
  padding-bottom: 3em;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: #0C1217;
}

/* full width images that fill entire screen */
.full-width {
  padding-left: 0;
  padding-right: 0;
}

#navbar-logo {
  padding-top: 0;
}

/* left padding for right-side columns in case studies */
@media (min-width: 992px) {
  .extra-padding {
    padding-left: 4%;
  }
}

.centre {
  text-align: center;
}

#footer {
  position: absolute;
  bottom: 1em;
  right: 0;
  left: 0;
}

/* about page */
#heading {
  font-weight: bold;
}

/* navbar links */
.white-link, .white-link:hover, .white-link:link {
  color: white;
}
  
  @media screen and (max-width: 991px) {
    /* columns that have collapsed after resizing */
    .collapsed-col-sm {
      padding-top: 2em;
  }
}