@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

body {
  background-color: #0C1217;
  color: white;
  font-family: 'Anonymous Pro', monospace;
  padding-top: 60px;
}

p, span, .large-font {
  font-size: 16px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#nav-container {
  padding-left: 2em;
  padding-right: 3em;
}

.nav, .navbar {
  background-color: #0C1217;
  border: none;
}

.navbar-inverse .navbar-header a,
.navbar-inverse .navbar-nav li a {
  color: white;
}

.row {
  margin-bottom: 3em;
  margin-left: 3%;
  margin-right: 3%;
  background-color: #0C1217;
}

/* full width images that fill entire screen */
.full-width {
  margin-left: 0;
  margin-right: 0;
}

#navbar-logo {
  padding-top: 0;
}

.project {
  position: absolute;
}

/* left padding for right-side columns in case studies */
@media (min-width: 992px) {
  .extra-padding {
    padding-left: 4%;
  }
}

.centre {
  text-align: center;
}

.canvas-parent {
  margin: 0;
  padding: 0;
  width: 100%;
}

#footer {
  position: absolute;
  bottom: 1em;
  right: 0;
  left: 0;
}

/* about page */
#heading {
  font-weight: bold;
}

/* navbar links */
.white-link, .white-link:hover, .white-link:link {
  color: white;
}

#experiments-footer {
  margin-top: 3.5em;
}
  
@media screen and (max-width: 991px) {
  /* columns that have collapsed after resizing */
  .collapsed-col-sm {
    padding-top: 2em;
  }
}