extends layout
block links
  li: a.active(href='projects.html') Projects
  li: a(href='experiments.html') Experiments
  li: a(href='about.html') About
block content
  .row
    .col-sm-8
      video(autoplay='', muted='', loop='', width='100%')
        source(src= 'https://videos.contentful.com/kmps1y0lcdmf/eNpZSYILpmOMWAIM6uaiS/b0986de5ec9bbf70f3dfc2c5153c760a/Unsigned-MT_Teaser_1.mp4', type='video/mp4')
    .col-sm-4.extra-padding.collapsed-col
      p Project Name
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id accumsan nunc, et suscipit lorem. Morbi sagittis dictum lectus, non lobortis massa cursus at. Quisque lacus nulla, posuere sit amet elementum nec, mollis at ex. Nunc eu diam massa.
      hr
      p Client: ++++
      p Direction: Dave Mackenzie
      p Production: \\\\\\
      p Design: >>>>>>
      p Sound: {{{{{{
  .row.relative
    .col-sm-8
      video(autoplay='', muted='', loop='', width='100%')
        source(src= 'videos/LA_10S.mp4')
    .col-sm-4.bottom-align-text.extra-padding
      h2 Focus
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id accumsan nunc, et suscipit lorem. Morbi sagittis dictum lectus, non lobortis massa cursus at. Quisque lacus nulla, posuere sit amet elementum nec, mollis at ex. Nunc eu diam massa.
  .row.full-width
    .parallax
      video.parallax-img(autoplay='', muted='', loop='', width='100%')
        source(src= 'videos/WATER.mp4')
  .row#alt-parallax
    .col-xs-12
      img(src='images/MT_World.jpg', alt='Project Image', width='100%')
  .row.after-parallax
    .col-sm-8
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id accumsan nunc, et suscipit lorem. Morbi sagittis dictum lectus, non lobortis massa cursus at. Quisque lacus nulla, posuere sit amet elementum nec, mollis at ex. Nunc eu diam massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id accumsan nunc, et suscipit lorem. Morbi sagittis dictum lectus, non lobortis massa cursus at. Quisque lacus nulla, posuere sit amet elementum nec, mollis at ex. Nunc eu diam massa.
  .row.relative
    .col-sm-8
      img(src='images/MT_World.jpg', width='100%', alt='Project Image')
    .col-sm-4.bottom-align-text.extra-padding
      h2 Focus
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id accumsan nunc, et suscipit lorem. Morbi sagittis dictum lectus, non lobortis massa cursus at. Quisque lacus nulla, posuere sit amet elementum nec, mollis at ex. Nunc eu diam massa.
  .row
    .col-sm-2.col-xs-4.centre
      a.white-link(href='#') Project A
    .col-sm-2.col-xs-4.centre
      a.white-link(href='#') Project B
    .col-sm-2.col-xs-4.centre
      a.white-link(href='#') Project C
    .col-sm-2.col-xs-4.centre.collapsed-col
      a.white-link(href='#') Project D
    .col-sm-2.col-xs-4.centre.collapsed-col
      a.white-link(href='#') Project E
    .col-sm-2.col-xs-4.centre.collapsed-col
      a.white-link(href='#') Project F
  .row
    .col-xs-12
      include footer